# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.*

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
dist
.output
.nitro
.tanstack
.vinxi

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
.certs

ressources
